<html xmlns:th="http://www.thymeleaf.org">
	

<body>
	<p> Lūdzu ievadi jaunu produktu:</p>

	<form action="#"  th:action="@{/product/crud/create/${__${id}__}" th:object="${product}" method="post" >
		
		<table>
			<tr>
				<td> Ieraksti produkta nosaukumu </td>	
			
				<td> <input type="text" th:field="*{title}"   /> </td>
			</tr>	
			
			<tr>
				<td>
				Ieraksti produkta aprakstu:
				</td>
				
				<td>
					<input type="text" th:field="*{desc}"   />
				</td>
			</tr>
			
			<tr>
				<td>
				Ieraksti produkta cenu:
				</td>
							
				<td>
					<input type="text" th:field="*{cena}"   />
				</td>
			</tr>
			
			<tr>
				<td>
				Ieraksti produkta daudzumu:
				</td>
							
				<td>
					<input type="text" th:field="*{quantity}"   />
				</td>
			</tr>				
		
			<tr>
				
				<td>
					<button type = "submit"> Saglabat </button>
				</td>
			</tr>
			
		</table>
		
		
	</form>
</body>

</html>